/* Button CSS - START */
.button {
  padding: 10px 20px;
  border: 1px solid var(--dark-magenta);
  text-transform: uppercase;
}
.button.dark {
  background-color: var(--dark-magenta);
  color: var(--white);
}
.button.light {
  background-color: var(--white);
  color: var(--dark-magenta);
}
/* Button CSS - END */
