/* List CSS - START */
.list-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.list-wrapper.three .tiles {
  width: 30%;
  margin-bottom: 5%;
}

.list-wrapper.four .tiles {
  width: 21%;
  margin-bottom: 5%;
}

.list-wrapper.three .tiles:not(:nth-child(3n)) {
  margin-right: 5%;
}

.list-wrapper.four .tiles:not(:nth-child(4n)) {
  margin-right: 4%;
}
/* List CSS - END */
