/* List CSS - START */
.list-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &.three {
    .tiles {
      width: 30%;
      margin-bottom: 5%;
      &:not(:nth-child(3n)) {
        margin-right: 5%;
      }
    }
  }
  &.four {
    .tiles {
      width: 21%;
      margin-bottom: 5%;
      &:not(:nth-child(4n)) {
        margin-right: 4%;
      }
    }
  }
}
/* List CSS - END */
