/* DETAILS SCREEN CSS - START */
.location-details-wrapper {
  margin: 0 50px;
  .location-wrapper {
    display: flex;
    justify-content: center;
    padding: 25px 50px;
    .location-details {
      margin: 0 auto;
      text-align: center;
      font-size: var(--h2);
      color: var(--dark-magenta);
      font-weight: bold;
      max-width: 550px;
    }
    .location-details img {
      margin-bottom: 10px;
    }
  }
  .separator {
    height: 1px;
    background-color: var(--black);
  }
  .weather-details-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-size: var(--h5);
    .location-title {
      text-transform: capitalize;
      color: var(--dark-magenta);
    }
  }
  .location-description {
    .description-section {
      margin: 20px 0;
      &.center {
        text-align: center;
        padding: 100px;
      }
    }
  }
  .similar-locations {
    margin: 50px 0;
    font-size: var(--h3);
    color: var(--dark-magenta);
  }
}
/* DETAILS SCREEN CSS - END */
