/* SearchBar CSS - START */
.explorer-search-section {
  width: 240px;
  height: var(--h3);
  padding: 10px 20px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid var(--dark-magenta);
}
.explorer-search-section::placeholder {
  color: var(--light-grey);
}
.explorer-search-section:focus {
  outline: none;
}
.explorer__suggestions-container {
  display: none;
}
.explorer__suggestions-container.show {
  display: block;
  position: absolute;
  top: 50px;
  width: 240px;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid var(--dark-magenta);
  background-color: var(--white);
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.explorer__suggestions-container.show .suggestion-item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  text-transform: capitalize;
}
.explorer__suggestions-container.show .suggestion-item-wrapper:not(:last-child) {
  border-bottom: 1px solid var(--dark-magenta);
}
.explorer__suggestions-container.show .suggestion-item-wrapper:hover {
  background-color: var(--light-grey);
}
/* SearchBar CSS - END */
