/* Banner CSS - START */
.banner {
  padding: 50px;
  background-color: var(--dark-magenta);
  &.light {
    background-color: var(--white);
  }
  .banner-text {
    color: var(--white);
    font-size: var(--h3);
    font-weight: 300;
    &.light {
      color: var(--dark-magenta);
    }
    .banner-text-content:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
/* Banner CSS - END */
